.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
android/.gradle
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
web/flutter_service_worker.js
